/* ---------------- BACKGROUND */
$color__background-body : hsl(0, 0%, 100%);
$color__background-body-clip : hsl(212, 100%, 70%);
$color__background-main : #A6D5FF;
$color__background-cours : #eec37d;
$color__background-header : #F0B04B;
$color__background-barre : #A6D5FF;
$color__background-footer : #000000;
$color__background-link : #F0B04B;
$color__background-link-hover : hsl(0, 100%, 91%);

/* ---------------- LIENS */
$color__link : hsl(0, 0%, 0%);
$color__link-hover : lightseagreen;
$color__link-visited : hsl(0, 0%, 0%);
/* ---------------- LIENS FOOTER */
$color__link__footer : hsl(0, 0%, 100%);
$color__link__footer-hover : lightseagreen;
$color__link__footer-visited : hsl(0, 0%, 60%); 


/* ---------------- FONT */
$color__font-header : hsl(0, 0%, 100%);
$color__font-main :hsl(0, 0%, 100%);
$color__font-barre : hsl(0, 0%, 100%);
$color__font-footer : hsl(0, 0%, 100%);
// ------------------Header lien
$color__link__header : hsl(0, 0%, 100%);
$color__link__header-hover :  lightseagreen;
$color__link__header-visited : hsl(0, 0%, 100%);

// ------------------ menu footer 
$color__link__footer__menu: hsl(0, 0%, 100%);
$color__link__footer__menu-visited: hsl(0, 0%, 60%); 
$color__link__footer__menu-hover: lightseagreen;

$background__link__footer__menu: hsl(0, 0%, 0%); 
$background__link__footer__menu-visited: hsl(0, 0%, 0%); 
$background__link__footer__menu-hover: hsl(0, 0%, 0%); 

// menu principal
$color__link__menu__principal:green;
$color__link__menu__principal-visited:green;
$color__link__menu__principal-hover: green;

$background__link__menu__princiapl:lightGreen;
$background__link__menu__princiapl-visited: lightGreen;
$background__link__menu__princiapl-hover:lightGreen;

// -----------------------------Bouton lien Menu filtre
$color__bouton__color: black;
$color__bouton__background:#F0B04B;
$color__bouton__color--hover:lightseagreen;
$color__bouton__background--hover:#eec37d;
