$font__main : 'Gill Sans', 'Gill Sans MT', "Calibri", 'Trebuchet MS', sans-serif;
$font__titre : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

$font_principale :'Merriweather', serif;
$font_secondaire :'Rubik', sans-serif;
$font_paragraphe :'Roboto', sans-serif;
