.site__footer {
    font-family: $font__titre;
    background-color: $color__background-footer;
    padding: 15px;
    
    &__menu{ // .site__footer__menu
      padding: 0px;
      width: 100%;
      margin: 0%;
      &__ul{ // .site__footer__menu__ul
          display : flex;
          list-style-type: none;
          flex-direction: row;
          flex-flow:wrap;
          justify-content: center;
          @media screen and (min-width : $largeur__media--tablette){
            justify-content: flex-start;
            flex-flow: wrap;
            flex-direction: column;
            width: 100%;
            height: 16rem;
          }
          .menu-item{ // .site__footer__menu__ul .menu-item
              width: 33%;
              
              @media screen and (min-width : $largeur__media--tablette){
                width: 50%;
                margin: 1em 0px;
              }
            a{ // .site__footer__menu__ul .menu-item a
              display : flex;
              align-items: center;
              padding : 3px;
              svg { // .site__footer__menu__ul .menu-item a svg
                color: $color__background-header;
              }
            }
          }
        }
      }
  }
  .footer__titre{
    font-size: 2em;
  }
.footer__titre,
.footer__presentation,
.footer__author,
#footer__copyright {
  color: $color__font-footer;
  text-align: center;
}

.footer__conteneur{
  display: flex;
  flex-direction: column;
  color: $color__font-footer;
  @media screen and (min-width : $largeur__media--tablette){
    flex-direction: row ;
  }
}
// --------------------------------------------------------------------Colonne conteneur
.footer__search{
  @include conteneurFlexCol;
  @media screen and (min-width : $largeur__media--tablette){
    margin: 2em auto 0 auto;
  }
  .recherche{
    &__input{
      color: $color__link-hover;
      &:hover{
          cursor: pointer;
          background-color: rgba(#fff,0.4);
      }
      &:focus{
          background-color: rgba(#fff,0.3);
      }
  }
  }
}
.footer__widget{
  @include conteneurFlexCol;
  text-align: center;
  @media screen and (min-width : $largeur__media--tablette){
      & ul{
        padding-left: 1rem;
      }
  }
}
.footer__page{
  width: 100%;
  text-align: center;
  @media screen and (min-width : $largeur__media--tablette){
    width: 30%;
    text-align: center;
    color: $color__font-footer;
        &__menu__ul{
          padding: 0;
          & li{
            width: 50%;
          }
        }
  }
  
}

// --------------------------------------------------------------------conteneur2
.footer__conteneur__2{
  display: flex;
  flex-direction: column;
  @media screen and (min-width : $largeur__media--tablette){
    flex-direction: row ;
  }
}
// ---------------------------------------------------------------------colonne conteneur2
.lien-externe{
    margin: 0 auto;
    color: $color__font-footer;
      & h2{
        color: $color__font-footer;
        text-align: center;
      }
      
      svg { // .site__footer__menu__ul .menu-item a svg
        color: $color__background-header;
      }
    @media screen and (min-width : $largeur__media--tablette){
      width: 40%;
      margin: 0px;
      text-align: center;
        & li {
          width: 50%;
          margin: 2em auto;
        }
        & a{
          width: 100%;
          justify-content: center;
        }
      }
          
}

// --------------------------------------------------------------------Sous les conteneur
.reseau{
  width: 100%;
  @media screen and (min-width : $largeur__media--tablette){
    margin: 0 auto;
    width: 50%;
  }

}

#footer__copyright{
  color:$color__font-footer;
  font-size: 0.7rem;
}

