.menu-accueil-container, .menu-evenement-container, .conteneur__cours { //div

    .menu{//ul
        display: flex;
        flex-wrap: wrap;
        .menu-item{ //li
        padding: 0;
            a {
                display: block;
                .menu-item-description{ //span
                }
            }

        }
        



    }


}