.menu-categorie_cours-container { //div

    .menu{//ul
        display: flex;
        .menu-item{ //li
        width: 15%;
        padding: 0;
        
            a {
                display: block;
                .menu-item-description{ //span

                }


            }

        }
        & :hover{

        }



    }


}