.menu-categorie_cours-container{
    width: 90%;
    margin: 0 auto;
    & .menu{ //ul
        display: flex;
        justify-content: space-around;
       
       & .menu-item { //li
            background-color: $color__background-cours;
            padding: 10px 2%;
            margin: 0;
            width: auto;
           & a{
                color: $color__bouton__color;
                text-align: center;
            }
            
            &:hover{
                background-color: $color__bouton__background--hover;
                a{
                    color: $color__bouton__color--hover;
                }
            }
        }
        .current-menu-item {
            background-color: $color__background-cours--current;
            a{
                color: $color__bouton__color--current;
                .menu-item-icone{
                    display: block;
                    border: 1px black solid;
                    box-shadow: 5px 5px 5px $color__boutonAnim__background--hover; 
                    margin: 10px auto;
                    background-repeat: no-repeat;
                    height: 10px;
                    width: 40px;
                    background-color: $color__boutonAnim__background--hover;
                    border-radius: 5px;
                }
            }
        }
    }
}
// Menu cours ------------------------------------------------------------
.conteneur__cours{
    background-color: $color__background-cours;
    width: 100%;
    margin: 0 auto;
}