
#burger {
    position : absolute;
    transition : transform .3s;
    transform : rotate(0);
    @media screen and (min-width : $largeur__media--tablette){
        display: none;
    }
}
#chk-burger {
    display: none;
}
#chk-burger:checked ~ #burger {
    transform : rotate(90deg);
}
.menu-principal-container {
    display : none;
    @media screen and (min-width : $largeur__media--tablette){
        display: block;
    }
}
#chk-burger:checked ~ .menu-principal-container{
    display : block;
}

.menu{
    list-style-type: none;
    margin : 0;
    padding :0;
}
.menu-item{
    margin:0;
    padding : 0;
    a{
        display : block;
        text-decoration: none;
        padding : 4px;
    }
}







